body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

.header {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #2e2e2e;
    transition: background-color 0.5s ease-in-out;
}

.navbar {
    background-color: #1e1e1e;
    border-bottom: 2px solid #2e2e2e;
    padding: 20px 0; /* Añadido para hacer el navbar más alto */
    transition: all 0.3s ease;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    padding: 15px 25px; /* Incrementado para hacer los enlaces más grandes */
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.nav-link:hover {
    background-color: #3e3e3e;
    transform: scale(1.05);
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    border: 1px solid #2e2e2e;
    border-radius: 10px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

section.open {
    max-height: 1000px; /* Ajustar según necesidad */
}

section h2 {
    cursor: pointer;
    background-color: #2e2e2e;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
}

.content {
    padding: 10px 20px;
    display: block; /* Mostrar el contenido por defecto */
}

.footer {
    background-color: #1e1e1e;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #2e2e2e;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 {
    color: #ffffff; /* Título en blanco */
}

h2 {
    color: #2196f3;
    text-align: center;
}

p {
    font-size: 1rem;
}

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #2e2e2e;
    border-radius: 10px;
    background-color: #1e1e1e;
}

input[type="text"], input[type="password"], select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #2e2e2e;
    background-color: #121212;
    color: #ffffff;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #2196f3;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #1976d2;
}
