/* Estilos generales */
body {
    background-color: #f8f9fa; /* Fondo claro */
    color: #343a40; /* Texto oscuro */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.navbar {
    background-color: #343a40;
    padding: 10px;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-link:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

h2 {
    color: #007bff;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 600px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    text-align: center;
}